.vs/
bin/
bin-int/


*.user
.vs/PineEngine/v16/Browse.VC.db
.vs/PineEngine/v16/Solution.VC.db
.vs/PineEngine/v16/Browse.VC.db
.vs/PineEngine/v16/.suo
.vs/PineEngine/v16
.vs/PineEngine/v16/Browse.VC.db
